
.NavBar{
    >ul{
        gap: 3rem;
        >li{
            display: flex;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            &:nth-of-type(1){
                >a{
                    color: white;
                }
            }
            >span{
               
                color: var(--FontTextcherColor);
            }
            >a{
                color: var(--FontTextColor);
               
            }
            &:hover{
                >a{
                    color: white;
                }
            }

        }
    }
}