.Hashtag{
    color: var(--FontTextcherColor);
}
.Border-Project{
     color: var(--FontTextcherColor);
}
.Project-Name{
    >a{

        >button{
            width: 100px;
            height: 30px;
             border: 1px solid var(--FontTextcherColor);
             margin-top: 10px;
              transition: 0.5s;
             &:hover{
            background-color: rgba(199, 120, 221, 0.178);
            }
        }
    }
}
.Box-pr{
    color:var(--FontTextColor) ;
}