
.NavBar{
   transition: 0.5s;
    >ul{
        gap: 3rem;
        >li{
            display: flex;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            font-size: 30px;
            >span{
               
                color: var(--FontTextcherColor);
            }
            >a{
                color: var(--FontTextColor);
               
            }
            &:hover{
                >a{
                    color: white;
                }
            }

        }
    }
}

.Hamberger-Box{
   transition: 0.5s;
   
}
.box-click{
    transition: 0.5s;
}