.Contacts {
    color: var(--FontTextColor);
}
.Contacts-Me{
    color: var(--FontTextColor);
    >div{
        >a{
            
            &:hover{
                color: white;
            }
           
        }
    }
}